[submodule "42Cursus-00-libft"]
	path = 42Cursus-00-libft
	url = git@github.com:raqelcb/42Cursus-00-libft.git
[submodule "42Cursus-01-born2beroot"]
	path = 42Cursus-01-born2beroot
	url = git@github.com:raqelcb/42Cursus-01-born2beroot.git
[submodule "42Cursus-01-get_next_line"]
	path = 42Cursus-01-get_next_line
	url = git@github.com:raqelcb/42Cursus-01-get_next_line.git
[submodule "42Cursus-01-ft_printf"]
	path = 42Cursus-01-ft_printf
	url = git@github.com:raqelcb/42Cursus-01-ft_printf.git
[submodule "42Cursus-02-push_swap"]
	path = 42Cursus-02-push_swap
	url = git@github.com:raqelcb/42Cursus-02-push_swap.git
[submodule "42Cursus-02-minitalk"]
	path = 42Cursus-02-minitalk
	url = git@github.com:raqelcb/42Cursus-02-minitalk.git
